.customBorderRadius {
  border-radius: 0px;
}
@media (min-width: 1400px) {
  .customBorderRadius {
    border-radius: 20px;
  }
}
.customFontSize {
  font-size: 12px;
}
@media (min-width: 1400px) {
  .customFontSize {
    font-size: 14px;
  }
}
.customFontSizeHeader {
  font-size: 10px;
}
@media (min-width: 1400px) {
  .customFontSizeHeader {
    font-size: 12px;
  }
}
