
$primary: #2140D4;
$secondary: #08C056;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #FAFBFF ;
$dark: #222222 ;


//#4C5D77
//#7E8186
//#00006D
//#4F4F4F
@import '~bootstrap/scss/bootstrap';
