.btnSizingSecondary {
  border-radius: 32px;
  padding: 16px 32px;
  width: 223px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.heroTextSectionSizing {
  width: 576px;
  height: 380px;
}
